# Versions gave issues, sorry
# Install in your previously activated environment 
# using the following command:
# python -m pip install -r requirements.txt
customtkinter
kneed
matplotlib
numpy
opencv_python
Pillow
scikit_learn
scipy
scikit-image
